* {
  box-sizing: border-box;
  font-family: var(--font);
  transition: all 0.2s ease-out;
}

body {
  margin: 0;

  --controls-width: 200px;
  --document-width: 800px;
}

.app {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  min-height:100vh;
  padding: 64px 16px;
  background: var(--background);
}

.app,
.app * {
  color: var(--foreground);
}

.sans-serif {
  --font: sans-serif;
}
.serif {
  --font: serif;
}
.monospace {
  --font: monospace;
}

/* HACK: Have to separate out the "broad" versions to get the right precedence */
.theme-light * {
  --foreground: rgb(10, 10, 10);
  --background: rgb(240, 240, 240);
}
.theme-dark * {
  --foreground: rgb(240, 240, 240);
  --background: rgb(10, 10, 10);
}
.theme-light {
  --foreground: rgb(10, 10, 10);
  --background: rgb(240, 240, 240);
}
.theme-dark {
  --foreground: rgb(240, 240, 240);
  --background: rgb(10, 10, 10);
}

.controls {
  display:flex;
  flex-direction: column;
  position: absolute;
  width:var(--controls-width);
  flex-shrink:0;
  flex-grow:0;
  padding:0 1rem;
  transition: opacity 0.5s ease-out;
  right: calc(50% + var(--document-width) / 2);
}
.controls.hidden {
  opacity:0;
}
.controls > :not(:first-child) {
  margin-top: 0.5em;
}

.documents > .document-listing {
  cursor: pointer;
  user-select:none;
  background: var(--background);
  padding: 0.2em 0.5em;
  border-radius: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.documents > .document-listing:hover {
  filter: invert(20%);
}
.documents > .document-listing.selected {
  filter: invert(100%);
}

.document {
  display:block;
  width: 100%;
  max-width:var(--document-width);
  min-height: calc(100vh - 64px - 64px);
  margin:0 auto;
  border:none;
  resize: none;
  background: transparent;
  color: var(--foreground);
  font-family: var(--font);
  font-size: 16px;
}

.document:focus {
  outline: none;
}

/* --controls-width + --controls-width + --document-width */
@media(max-width: 1200px) {
  body {
    --document-width: auto;
  }

  .controls {
    position:relative;
    right:auto;
  }
}


/* all radio buttons */
.buttons {
  display:flex;
  justify-content: flex-end;
}
.buttons > input[type="radio"] {
  display:inline-block;
  border-radius:50%;
  width: 20px;
  height: 20px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
  cursor:pointer;
  user-select: none;
}
.buttons > input[type="radio"]:focus {
  outline:none;
}
.buttons > input[type="radio"]:checked {
  transform: scale(1.4);
}

/* font radio buttons */
.buttons > input[type="radio"]::before {
  display:block;
  content: 'Ab';
  font-size: 14px;
  font-weight:bold;
  transform: translateY(1px);
}